<h1>About us</h1>
<p>
	This is a sample application created using One Month Rails.
</p>
<div id="response"></div>
<button id="call" class="btn btn-lg btn-danger" onclick="ajax()">Click me!</button>